.card {
    width: 773px;
    height: calc(100% - 180px);
    border: 1px solid #EAEBED;
    border-radius: 12px;
    position: relative;
    display: block;
    text-decoration: none;
    margin: 16px auto;
  }
  

  .description {
    width: 773px;
    height: calc(100% - 300px);
    border: 1px solid #EAEBED;
    border-radius: 12px;
    background: #FFFFFF;
    margin: auto;
    padding: 34px;
  }

  .description p {
    margin-bottom: 20px;
  }