.inputWithIcon {
    position: relative;
}
.icon {
    background: url(Search.svg) no-repeat;
}
.input {
    padding: 0px 37px;
    width: 773px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #EAEBED;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-right: 30px;
  }


.inputWithIcon i {
    position: absolute;
    left: 14px;
    top: 18px;
    padding: 14px 13px;
    color: #aaa;
    transition: 0.3s;
  }


  .input::placeholder {
      color: #ACADB9;
  }

